@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

#root{
  height: 100vh;
  background-color: rgb(102, 84, 184);
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container{
  height: 100%;
  padding: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}

.row {
  display: flex;
  justify-content: center;
  text-align:center;
}
#reset {
  margin-top:0;
}
